body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5%;
    max-width: 90%;
}

#date, #paper {
    margin-right: 22%;
}

#date {
    margin-right: 10px;
}

.h1Image {
    width: 400px;
}

.line {
    width: 90%;
    height: 1px;
    background-color: lightgrey;
    margin: 0 auto;
}

.double_line {
    border-bottom: 3px double #333;
    width: 90%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    font-family: Helvetica;
    font-size: small;
    text-align: center;
    padding: 10px 8px;
    text-decoration: none;
}

/* RegionNavBar */
.RegionNavBar {
    font-size: xx-small;
}

/* Navbar Container */
.navbar-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
}

.navbar li {
    flex: 1 1 auto;
    text-align: center;
}

.navbar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}
