/* H1 Styling */
h1{
    text-align: center;
    display: flex;
}
.container {
    display: flex;
    align-items: center;
    justify-content: flex;
    margin-left: 5%;
    max-width: 90%;
}
#date, #paper{
    margin-right: 22%;
}

#date {
    margin-right: 10px;
}

.h1Image {
    width: 400px;
}

/* Line Styling */
.line {
    width: 90%;
    height: 1px;
    background-color: lightgrey;
    margin: 0 auto;
}
.line1 {
    width: 94%;
    height: 5%;
    background-color: black;
    margin:0;
}
/* Double Line Styling */
.double_line {
    border-bottom: 3px double #333;
    padding: 100px 100;
    margin: 0 auto;
    width: 90%;
}
  
/* Nav Bar Styling */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;

    margin-left: 120px;
}
li {
    float:left;

}
  
li a {
    display: block;
    color: black;
    font-family: Helvetica;
    font-size: small;
    text-align: center;
    padding: 10px 8px;
    text-decoration: none;
}

/* Article Layout Styling */
.whole_page {
    width: 90%;
    margin: 0 auto;
}
  
.left_side {
    width: calc(58% - 5%);
    margin-left: 5%;
    display: flex;
    justify-content: flex-start; /* Align content to the left (start) horizontally */
    align-items: center;
  }
  
.RegionNavBar{
    font-size: xx-small;
}
  

  



